# Use Dependabot to update GitHub Actions and the Terraform modules on this example
version: 2
updates:

# GitHub Actions
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    # Check for updated GitHub Actions every week
    interval: "weekly"

# DevOps Stack examples
# TODO Check if we can use a wildcard to include all subfolders in the examples folder
- package-ecosystem: "terraform"
  directory: "/terraform"
  schedule:
    # Check for updated Terraform modules daily
    interval: "daily"
