argoCD:
  project: llm-apps
  namespace: argocd

nvidiaUtilities:
  enabled: true
  autoSync: true

  valuesObject:
    nvidia-device-plugin:
      config:
        map:
          # Create a default configuration for the NVIDIA Device Plugin that enables shared access to GPUs using the 
          # CUDA Time-Slicing strategy. Reference: https://github.com/NVIDIA/k8s-device-plugin?tab=readme-ov-file#with-cuda-time-slicing
          default: |-
            version: v1
            sharing:
              timeSlicing:
                renameByDefault: false
                failRequestsGreaterThanOne: true
                resources:
                - name: nvidia.com/gpu
                  replicas: 10 # This means 10 times the amount of GPUs available in the node 

      tolerations:
      - key: nodepool
        operator: Equal
        value: llm
        effect: NoSchedule

      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values:
                - llm

workEnvironments: []
